<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>

	<link href="css/main.css" rel="stylesheet" type="text/css">
	<link href="css/navbar.css" rel="stylesheet" type="text/css">
	<link href="css/cards.css" rel="stylesheet" type="text/css">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
	<section class="section section--menu" id="Valentine">
		<h2 class="section__title">Casting Agency</h2>
		<nav class="menu menu--valentine">
			<ul class="menu__list">
				<li class="menu__item menu__item--current"><a href="#" class="menu__link">Actors</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Movies</a></li>
			</ul>
		</nav>
	</section>
	
	{% block content %}{% endblock %}
	<section class="cards">
		<div class="container">
			<div class="card-list">
			<div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
				<div class="profile-name">JOHN DOE</div>
				<div class="profile-username">@johndoesurname</div>
			</div>
			<div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
				<div class="profile-name">JOHN DOE</div>
				<div class="profile-username">@johndoesurname</div>
			</div>
			<div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
				<div class="profile-name">JOHN DOE</div>
				<div class="profile-username">@johndoesurname</div>
			</div>
			<div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
				<div class="profile-name">JOHN DOE</div>
				<div class="profile-username">@johndoesurname</div>
			</div>
			<div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
				<div class="profile-name">JOHN DOE</div>
				<div class="profile-username">@johndoesurname</div>
			</div>
			<div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
				<div class="profile-name">JOHN DOE</div>
				<div class="profile-username">@johndoesurname</div>
			</div>
		</div>
		</div>
	</section>

</section >
	<footer class="footer mt-auto py-3">
		<div class="container">
		  <span class="text-muted">Aya Khashoggi &copy; All Rights Reserved.</span>
		</div>
	</footer>
</section>


	<!-- /container -->
	<script src="js/classie.js"></script>
	<script src="js/clipboard.min.js"></script>
	<script>
	(function() {
		[].slice.call(document.querySelectorAll('.menu')).forEach(function(menu) {
			var menuItems = menu.querySelectorAll('.menu__link'),
				setCurrent = function(ev) {
					ev.preventDefault();

					var item = ev.target.parentNode; // li

					// return if already current
					if (classie.has(item, 'menu__item--current')) {
						return false;
					}
					// remove current
					classie.remove(menu.querySelector('.menu__item--current'), 'menu__item--current');
					// set current
					classie.add(item, 'menu__item--current');
				};

			[].slice.call(menuItems).forEach(function(el) {
				el.addEventListener('click', setCurrent);
			});
		});

		[].slice.call(document.querySelectorAll('.link-copy')).forEach(function(link) {
			link.setAttribute('data-clipboard-text', location.protocol + '//' + location.host + location.pathname + '#' + link.parentNode.id);
			new Clipboard(link);
			link.addEventListener('click', function() {
				classie.add(link, 'link-copy--animate');
				setTimeout(function() {
					classie.remove(link, 'link-copy--animate');
				}, 300);
			});
		});
	})(window);
	</script>

</body>
</html>
