{% extends 'index.html' %}
{% block title %} Casting Agency | Movies {% endblock %}
{% block content %}

<section class="cards">
    <div class="container">
        <div class="card-list">
            {% for movie in Movies %}
                <div class="profile-card-2"><img src="{{ movie.image }}" alt="Show Venue Image" class="img img-responsive">
                    <div class="profile-name">{{ movie.title }}</div>
                    <div class="profile-username">{{ movie.release_date }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}



